<div class="container">
    <h1>{{ title }}</h1>
    <button class="btn btn-primary" (click)="getSelectedRows()">Get Selected Rows</button>
    <ag-grid-angular 
    #agGrid
    style="width:600px; height: 500px;" 
    class="ag-theme-balham-dark" 
    [columnDefs]="columnDefs" 
    [rowData]="rowData | async"
    [enableSorting]="true"
    [enableFilter]="true"
    [animateRows]="true"
    rowSelection="multiple"
    [autoGroupColumnDef]="autoGroupColumnDef"
    groupSelectsChildren='true'>
    
    </ag-grid-angular>
</div>
